/**{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.box{
display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color:red ;
}

.animation{
    background-color: white;
    width: 200px;
    height: 200px;
}

.rotate {
    animation: rotation 2s infinite linear;
    
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }*/
  